[submodule "solidity/lib/forge-std"]
	path = solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/lib/flow-sol-utils"]
	path = solidity/lib/flow-sol-utils
	url = https://github.com/onflow/flow-sol-utils
